// Colors
$black: #030303;
$dark: #4a4a4a;
$grey: #7f7f7f;
$red: #800000;
$white: #fff;

$primary: $red;
$secondary: $black;

// Fonts
$body-font-family: "Open Sans";
$header-font-family: "elizeth-condensed", serif;
$nav-font-family: $header-font-family;
$button-font-family: $body-font-family;
