// Colors
$black: #010101;
$dark: #372D37;
$grey: #847D85;
$red: #7D2E30;
$white: #fff;

$primary: $red;
$secondary: $dark;

// Fonts
$body-font-family: "Open Sans";
$header-font-family: $body-font-family;
$nav-font-family: $body-font-family;
$button-font-family: $body-font-family;
