// Colors
$black: #030303;
$dark: #404040;
$grey: #7f7f7f;
$light: #c0c0c0;
$red: #800000;
$white: #f8f9fa;

$transparent-red: #800000aa;

$primary: $red;
$secondary: $black;
$transparent-primary: $transparent-red;

// Fonts
$body-font-family: "Open Sans";
$header-font-family: "elizeth-condensed", serif;
$nav-font-family: $header-font-family;
$button-font-family: $body-font-family;

// breakpoints
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;