.carousel {
  border: none;

  .carousel-inner {
    .carousel-caption {
      top: 50%;
      left: 15%;
      right: 15%;
      bottom: unset;
      transform: translateY(-50%);
      .row {
        align-items: center;
        h2 {
          margin-top: 0;
          font-weight: 700;
        }
        p {
          font-weight: 700;
          font-size:1rem;
        }
        @media screen and (min-width: $sm) {
          h2 {
            font-size: 2.25rem;
            font-weight: 700;
          }
        }
        @media screen and (min-width: $lg) {
          h2 {
            font-size: 2.5rem;
            font-weight: 700;
          }
          p {
            font-size: 1.25rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}
