.card {
  background-color: $primary;
  .card-body {
    color: $white;
    padding: 2rem 1.5rem;
    .card-title {
      text-align: center;
      font-weight: 700;
      color: $white;
      text-shadow: 0px 0px 2px $primary;
    }
  }
}
