.card {
  background-color: $primary;

  border-radius: 10px;
  .card-img-top {
    border-radius: 10px;
  }
  .card-img-overlay {
    padding: 0 0;
    top: unset;
    bottom: 32px;
    .card-title {
      text-align: center;
      font-weight: 700;
      color: $white;
      background-color: $transparent-primary;
      padding: 10px 1rem;
    }
  }
}
