footer {
  h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  .logo {
    img {
      height: 125px;
    }
    margin-bottom: 1rem;
  }

  .menu {
    text-align: center;
    a {
      color: $black;

      &:hover {
        color: $primary;
      }
    }
    .links {
      text-align: left;
      margin: 0 auto;
      width: min-content;
    }

    .border-start {
      border-radius: 0;
      border-width: 2px !important;
      border-color: transparent transparent transparent $primary !important;
    }
  }

  .socials {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        border-color: $primary;
      }

      &.nextdoor {
        img {
          width: 1rem;
          margin-right: 1px;
        }
      }
    }
    img {
      width: 1rem;
    }
  }
  .bbb {
    padding: 0 0;
    margin: 0 0;
    img {
      height: 75px;
    }
  }

  .contact {
    text-align: center;
    .footer-address {
      text-align: left;
      margin: 0 auto;
      width: max-content;
      font-size: 1rem;
    }
  }
}
