.hero {
    background-color: $dark;
    background-blend-mode: overlay;
    padding: 4rem 0;
    &.home {
        background-image: url("../../public/images/800x450/hero-living-room-unsplash.webp");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;

        @media only screen and (min-width: $lg) {
            background-image: url("../../public/images/1600x450/hero-living-room-unsplash.webp");
        }
    }
    &.services {
        background-image: url("../../public/images/800x450/hero-living-room-pexels.webp");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;

        @media only screen and (min-width: $lg) {
            background-image: url("../../public/images/1600x450/hero-living-room-pexels.webp");
        }
    }
    &.carpet-cleaning {
        background-image: url("../../public/images/800x450/hero-carpet-pexels.webp");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;

        @media only screen and (min-width: $lg) {
            background-image: url("../../public/images/1600x450/hero-carpet-pexels.webp");
        }
    }
    &.tile-cleaning {
        background-image: url("../../public/images/800x450/hero-tiles-unsplash.webp");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;

        @media only screen and (min-width: $lg) {
            background-image: url("../../public/images/1600x450/hero-tiles-unsplash.webp");
        }
    }
    &.reviews {
        background-image: url("../../public/images/800x450/hero-kitchen-pexels.webp");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;

        @media only screen and (min-width: $lg) {
            background-image: url("../../public/images/1600x450/hero-kitchen-pexels.webp");
        }
    }
    &.contact {
        background-image: url("../../public/images/800x450/hero-sofa-pixabay.webp");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;

        @media only screen and (min-width: $lg) {
            background-image: url("../../public/images/1600x450/hero-sofa-pixabay.webp");
        }
    }

    h1 {
        color: $white;
        text-shadow: 2px 2px 1px $dark;
    }
}
