.review {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    .review-card {
        width: 100%;
        border: 1px solid $light;
        .review-header {
            .review-name {
                font-size: 1.5rem;
                font-weight: 700;
            }
            .review-location {
                font-size: 1.25rem;
            }
            .review-stars {
                color: $primary;
            }
            .review-date {
                font-weight: 700;
            }
        }
        .review-quote {
            font-size: 0.85rem;
        }
        .review-url {
            a:hover {
                color: $primary;
            }
        }
    }

    @media only screen and (min-width: $md) {
        max-height: 7200px;
    }
    @media only screen and (min-width: $lg) {
        max-height: 5500px;
    }
    @media only screen and (min-width: $xl) {
        max-height: 4500px;
    }
    @media only screen and (min-width: $xxl) {
        max-height: 4000px;
    }
}
